<div class="container"  >
    <div class="row">
        <div class="panel panel-primary">
        <div class="panel-heading">
        <h3 class="text-center" style="font-size: 30px;"><strong>LOGOS ASSIGNMENT</strong></h3>
    </div>
    <div class = "panel-body style1" >
        <p class="lead" style="font-family: 'Courier New', Courier, monospace;"><strong><em>
            Enroll for sports</em></strong></p>
        <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 20px;">
            This is an application where any player can register themseleves with all the details 
            handy with them.<br/>
            After registering, they can even update their details anytime.<br/> 
            There is an update button on player details page via which one can navigate to update page,<br/>
            Else can use the update url on the header bar to navigate to update the details.<br/>
            Similarly, there are register, update, search and delete links on the header bar to navigate <br/>
            to respective pages.
        </p>
        <img src="/assets/img/sportsImg.jpg" />
        </div>
    </div>
    </div>
</div>

<!--    <h3  text-align= "center">This is the home page.PLease click register to enroll yourself in the application.</h3>
-->